@import "tailwindcss";



/* In globals.css */
.font-no-name-regular {
  font-family: var(--font-no-name-regular);
}

.font-open-sans-semibold {
  font-family: var(--font-open-sans-semibold);
}


/* colors */
.bg-tan {
  background-color: #F6EBE2;
}
.bg-logo {
  background-color: #E5C300
}

.text-blue {
  color: #4C7D89
}

.text-dark-blue {
  color: #254C5C
}

@theme {
  --breakpoint-xs: 460px;
}